<!-- <h3>Student Data </h3>

<input type="text" placeholder="First Name" [(ngModel)]="FName" />
<input type="text" placeholder="Last Name" [(ngModel)]="LName" />
<input type="text" placeholder="Age" [(ngModel)]="Age" />
<input type="text" placeholder="Department" [(ngModel)]="Dept" /> -->


<h4>Child Componenet</h4>
<table>
    <tr>
        <td>First Name</td>
        <td>Last Name</td>
        <td>Age</td>
        <td>Department</td>
    </tr>
    <tr>
        <td>{{student.FirstName}}</td>
        <td>{{student.LastName}}</td>
        <td>{{student.Age}}</td>
        <td>{{student.Dept}}</td>
    </tr>

</table>

<app-student (userData)="onuserData($event)"></app-student>